/* Global ============= */
/* 모바일 뷰 먼저*/
:root {
  --orange400: #FF8A4C;
  --orange600: #D03801;
  --orange700: #B43403;
  --first-color:#FF4F4C;
  --title-color: #292323;
  --text-color: #4D4D4D;
  --input-color:#F6F4F4;
  --light-pink: #fff9f9;
  --smooth: all 0.3s ease-in;
  --shadow: 0px 7px 16px rgba(0, 0, 0, 0.15);
  --border-radious: 12px;
  --pb:16px;
}
 /* reset-css */
 html{
  scroll-behavior: smooth;
}
a {
text-decoration: none;
color: inherit;
}
button,
input,
textarea {
font-size: 16px;
background-color: transparent;
border: 0;
}
button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
outline: none;
box-shadow: none;
}
ul,
ol,
li {
list-style: none;
padding-left: 0;
margin: left 0;
}
p {
font-size: 16px;
line-height: 28px;
font-family: 'Inter', sans-serif;
}
/* Universal tags */
*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
  width: 100%;
}
.container{
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.wrapper{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
button{
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  font-weight:bold;
  padding: 14px 24px;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(90deg, #FF4F4C 0%, #DF2320 100%);
  border-radius: 12px;
  outline: none;
  border: none;
}
button:hover {
  color: var(--title-color);
  background-color: var(--light-pink);
  transition: var(--smooth);
}
/*=============Header*/


header {
  background-color: var(--light-pink);
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px 55px 15px;
  background-color: var(--light-pink);
  
}

/* logo */
.navbar__logo{
  display: flex;
  align-items: center;
}
.navbar__logo img {
  width: 70px;
}
.navbar__logo p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: var(--title-color);
  margin-left: 16px;
}
/* menu */
.navbar__links{
  position: fixed;
  top: 10%;
  width: 90%;
  height: auto;
  transform: translateY(-100%);
  opacity: 0;
  z-index: 5;
  background: #FFFFFF;
  transition: var(--smooth);
  box-shadow: var(--shadow);
  border-radius: var(--border-radious);
}
.navbar__links.navbar__open {
  transform: translateY(0);
  opacity: 1;
  transition: var(--smooth);
}
.navbar__link {
  font-size: 1.125rem;
  margin: 55px;
  list-style: none;
  text-align: center;
}
.navbar__link a{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-weight: 400;
  color: var(--text-color);

}
.navbar__link a:hover {
  color: var(--first-color);
  transition: var(--smooth);
}
/* icon  */
.navbar__ham {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: var(--smooth);
  z-index: 5;
}
.navbar__icon {
  width: 35px;
  height: 4px;
  background: #000;
  border-radius: 5px;
  transition: var(--smooth);
  position: relative;
}
.navbar__icon::before,
.navbar__icon::after{
    content: '';
    position: absolute;
    width: 35px;
    height: 4px;
    background: #000;
    border-radius: 5px;
    transition: var(--smooth);
}
.navbar__icon:before {
  transform: translateY(-12px);
}

.navbar__icon:after {
  transform: translateY(12px);
}
.open .navbar__icon {
  transform: translateX(-50px);
  background: transparent;
}

.open .navbar__icon:before {
  transform: rotate(45deg) translate(35px, -35px);
}

.open .navbar__icon:after {
  transform: rotate(-45deg) translate(35px, 35px);
}

@media (min-width:62em) {
  .navbar__links{
      position: initial;
      transform: translateY(0);
      opacity: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      box-shadow: none;
      background: transparent;
      transition: var(--smooth);
  }
  .navbar__link{
      margin: 0 32px;
  }
  .navbar__link a{
    color: #F6F4F4;
  }
  .navbar__link a:hover{
      color: #000;
  }
  .navbar__ham{
      display: none;
  }
}
/*=================== Banenr*/
#banner .container {
  background-image: linear-gradient(to bottom, var(--light-pink), #fff);
}
.banner__desc{
  display: flex;
  flex-direction: column;
  text-align: initial;
  padding: 0 15px;
}
.banner__title{
  padding-bottom: var(--pb);
  font-family:  'Inter', sans-serif;
}
.banner__title span{
  color: var(--first-color);
}
.banner__detail{
  padding-bottom:var(--pb);
}
.img__bg{
  background: linear-gradient(90deg, #FF5A1F 0%, #FF3D3D 100%);
  margin-top: 38.63px;
  position: relative;
  height: 100%;
  padding: 14px 0;
}
.banner__img{
  width: 100%;
}
.banner__img img{
  width: 260px;
}
.V_img{
  width: 170px;
  position: absolute;
  right: 0;
}

@media (min-width:62em) {
    #banner .container{
      background-image: linear-gradient(to bottom, var(--light-pink), #fff);
      height: 800px;
     display: flex;
     justify-content: space-between;
    }
    .banner__desc{
      padding:0 0 0 240px;
    }
    .banner__title{
      font-size: 48px;
      padding-bottom: 0;
    }
    .banner__detail{
      font-size: 18px;
      padding-top: 24px;
      padding-bottom: 0;
    }
    .btn-group{
      padding-top: 24px;
    }
    .navbar__links{
      position: relative;
    }
    .img__bg{
    /* background: none; */
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    background: linear-gradient(90deg, #FF5A1F 0%, #FF3D3D 100%);
    width: 50%;
    height: 100%;
    }
    .V_img{
      position: absolute;
      top: 15%;
      right: 94px;
      width: 298px;
    }
    .banner__img{
      display: none;
    } 
}

/* ===============Service */
.service__desc{
  margin: 48px 14.5px;
}
.section__title{
  padding-bottom: 16px;
  font-family:   'Archivo', sans-serif;
}
.service__contents{
  text-align: center;
  padding-top: 48px;
}
.service__content{
  padding-bottom: 40px;
}
.service__content:nth-child(4){
  padding-bottom: 0;
}
.service__circle{
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border:1px solid var(--first-color);
  filter: drop-shadow(0px 2px 8px #FF5A1F);
}
.content__title{
padding: 32px 0 20px 0;
font-family: 'Archivo', sans-serif;
}
.service__circle:hover{
  border: 1px solid #FF4F4C;
  box-shadow: 0px 2px 8px #FF5A1F;
  transition: var(--smooth);
}

@media (min-width:62em) {
  #service .container{
  }
  .service__group{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }
  .service__contents{
    margin-top: 9%;
    width: 70%;
    display: flex;
  }
  .section__title{
    font-size: 32px;
  }
  .section__detail{
    font-size: 16px;
  }
  .phone__img{
    width: 30%
  }
}

/*===================Wordk*/
#work .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FF5A1F;
  /* color: #FFFFFF; */
  text-align: center;
}
.work__desc{
  padding: 48px 0;
  color: #F9FAFB;
}
.work__circle{
  display: inline-block;
  width: 128px;
  height: 128px;
  background: #FF5A1F;
  box-shadow: 0px 14px 40px #B43403;
  border-radius: 87px;
  margin-bottom: 22px;
}
.work__circle:hover{
  background-color: #FF8A4C;
}
.work__content{
  margin-bottom: 32px;
}
.work__title{
  padding-bottom: 24px;
  font-family: 'Archivo', sans-serif;
}
.circle__title{
  color: #FFFFFF;
  padding-bottom: 4px;
}
.circle__detail{
  color: #FEECDC;
  padding-bottom: 32px;
}
.circle__img{
  margin: auto;
  padding: 35%;
}
.work__circle img{
  width: 38px;
}
.work__img{
  display: inline-block;
  text-align: center;
  width: 322px;
}
@media (min-width:62em) {
  .work__contents{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }
  .work__desc{
    padding: 96px 0 64px 0;
  }
  .work__title{
    font-size: 36px;
  }
  .work__detail{
    font-size: 16px;
  }
}

/* =======Price*/
/*price-card*/
#price .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  }
  .parice__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .price__desc{
    text-align: center;
    padding-top: 66px;
  }
  .price__title{
    padding-bottom: 20px;
  }
  .price__detail{
    padding-bottom: 50px;
  }
  .card__maintitle{
    font-size: 36px;
    font-weight: 900;
    color: #FF5A1F;

  }
  .price__title{
    font-family: 'Archivo';
    font-size: 24px;
  }
  .price__Card:hover{
      transition: box-shadow 200ms ease-in-out;
  }
  .card{
      border: 2px solid #FCD9BD;
      border-radius: 18px;
      padding: 32px;
      margin-bottom: 53px;
  }
  .card:hover{
      box-shadow: 0px 24px 40px rgba(255, 90, 31, 0.25);
  }

  .card__desc{
  }
  .card__maintitle{
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 24px;
  }
  .card__title__desc{
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 900;
      background: linear-gradient(90deg, #FF4C4C 0%, #FF8A4C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
  }
  .home__btn{
    margin-top: 24px;
  }

  @media (min-width:62em) {
    .parice__card{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }    
    .price__title{
      font-size: 36px;
    }
  }

  /*=========Contact*/
  /*Contact*/
#contact .container{
  background-color: #FF5A1F;
}
.contact__title{
  text-align: center;
  color: #FFF8F1;
  padding-top: 38px;
  font-size: 24px;
}
.contact__detail{
  font-size: 14px;
  padding :16px 0 15px 0;
}
.contact__icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 15px;
}
.icon__img{
  text-align: center;
  width: 28px;
  display: inline-block;
  margin-bottom: 7px;
}
.icon__img img{
  width: 100%;
}
.cont__icon__box{
  width: 160px;
  margin-bottom: 40px;
  padding: 10px 0;
}
.cont__icon__box:hover{
  background-color:#DF2320;
  transition: var(--smooth);
}
 .icon__desc{
   color:  #FFFFFF;
 } 
.cont__icon__box:nth-child(2){
  border-radius: 4.78546px;
}
.cont__icon__box:hover{
  border-radius: 4.78546px;
}
.textBox{
  background: #FFFFFF;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 32px 48px;
  width: 471px;
  height: 464px;
  margin: auto;
}
.text__box{
  padding-bottom: 32px;
}
.textbox__title{
  color: #FB9F9D;
  font-size: 16px;
  padding-bottom: 16px;
}
input{
  background: #FFFFFF;
/* first-color */
border: 2px solid #FF4F4C;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
border-radius: 11px;
width: 370px;
height: 51px;
}
input::-webkit-input-placeholder{
  color: var(--color-gray-600);
  padding: 0 16px;
}
input:hover{
  background: #FFFFFF;
  /* first-color */
  
  border: 2px solid #FF4F4C;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 4px #FB9F9D;
  border-radius: 11px;
}
.textbox__desc{
  height: 129px;
}